@import url(http://fonts.googleapis.com/css?family=Lora);
@import url(http://fonts.googleapis.com/css?family=Share+Tech+Mono);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://fonts.googleapis.com/css?family=Raleway);
.main-nav {
    width: 100%;
    left: 0px;
    top: 0px;
    right:0; 
    height: 70px;
   /* background: rgba(46,46,46,1);
    box-shadow: 0 0 5px rgba(52,152,219,0.9);*/
}
.logo {
    /*background-color: green;*/
    width: 200px;
    height: 50px;

}
.logo { float: left; width: auto;}
.logo h1{
    margin-top: 8px;
    text-align: left;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    color:#000;
    padding-left: 8																																																																																																											0px;
}
.logo a{
  text-decoration: none;
}
.left-col{
	padding-top: 10px;
	width: 65%;
	float:left;
	height:100%;
}

.right-col{
	width: 35%;
	float:right;
	height:100%;
    overflow-y: auto;
}
 html, body{ 
 	height: 100%; 
 	width: 1200px; 
 	margin-left: auto; 
 	margin-right: auto;
 	padding: 0;
 	overflow:hidden;

 }
 .clr {
    clear:both;
    padding:0;
    margin:0;
    width:100%;
    font-size:0;
    line-height:0;
}
.wrapper {
	min-height: 100%;
	height: auto !important; /* This line and the next line are not necessary unless you need IE6 support */
	height: 100%;
	margin: 0 auto -70px; /* the bottom margin is the negative value of the footer's height */
}
.footer, .push {
	height: 70px; /* .push must be the same height as .footer */
}

 #map-canvas { 
 	height: 450px; 
 	width: 90%;
 	margin-left: auto; 
 		margin-right: auto;
 	padding: 0;

 	-moz-box-shadow: 0 0 10px #ccc; 
  -webkit-box-shadow: 0 0 10px #ccc; 
  box-shadow: 0 0 10px #ccc;
    color:#19B5FE;


 }
 .nav-item{
    padding-left: 50px;
 	float: right;
 }
 
li{
 	display: inline; 
 }
.main-nav > ul{
    padding-top:0;
    list-style-type: none;
     width: 100%;
 }
.main-nav > ul li{
  border: none;
}

ul{
    padding-top: 30px;
    margin-right: auto;
    margin-left: auto;
    width: 80%;
    list-style-type: none;
 }

ul li{
    position: relative;
    font-family: "Raleway";
    border-bottom: 1px solid #ccc;
    text-decoration: none;
    text-align: center;
    color: #7FCCC4;
    display: block;
    width: 80%;
 
  -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
  -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
  -o-transition: font-size 0.3s ease, background-color 0.3s ease;
  -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
  transition: font-size 0.3s ease, background-color 0.3s ease;
  font-size: 20px;
  margin: 20px 0;

 }
 

ul li:last-child {
  border: none;
}
 .activatedItem{
    color:#000;
    font-weight: 700;
    font-size: 30px;
 }
 hr{
    border:0;
    height: 0;
    margin-left: 10px;
    margin-right: 10px;
    border-top: 1px solid rgba(0,0,0,0.1);
    border-bottom: 1px solid rgba(255,255,255,0.3);
}

p{
        font-family: "Raleway";
        padding-left: 40px;
        font-size: 20px;
        color:#666;
}
label{
    color: #000;
    font-size: 30px;
}
